<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.t131_new_embedding_lifecycle_plugin_api_example">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
