<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>262757468856-hm6hv5umi05feb8br7ekfdc0hc09nc33.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262757468856-hm6hv5umi05feb8br7ekfdc0hc09nc33</string>
	<key>API_KEY</key>
	<string>AIzaSyAh5bhl-T_CdQMABaIA1MJhk4PovlMgBlY</string>
	<key>GCM_SENDER_ID</key>
	<string>262757468856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.t84FirebaseWithSwiftPlugin</string>
	<key>PROJECT_ID</key>
	<string>xster-test-1</string>
	<key>STORAGE_BUCKET</key>
	<string>xster-test-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262757468856:ios:4d0452c55a832d6b</string>
	<key>DATABASE_URL</key>
	<string>https://xster-test-1.firebaseio.com</string>
</dict>
</plist>