<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.t121_tap_status_bar_to_top">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
